{"swagger": "2.0", "info": {"title": "JumpServer API Docs", "description": "JumpServer Restful api docs", "termsOfService": "https://www.jumpserver.org", "contact": {"email": "support@fit2cloud.com"}, "license": {"name": "GPLv3 License"}, "version": "v1"}, "host": "jumpserver.xiaoe-tools.com", "schemes": ["https"], "basePath": "/api/v1", "consumes": ["application/json", "text/csv", "text/xlsx"], "produces": ["application/json", "text/csv", "application/xlsx"], "securityDefinitions": {"Bearer": {"type": "apiKey", "name": "Authorization", "in": "header"}}, "security": [{"Bearer": []}], "paths": {"/accounts/accounts/username-suggestions/": {"post": {"operationId": "accounts_accounts_username_suggestions", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccountDetail"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AccountDetail"}}}, "tags": ["accounts_accounts"], "summary": "accounts_accounts_username_suggestions"}, "parameters": []}, "/assets/assets/suggestions/": {"get": {"operationId": "assets_assets_match", "description": "API endpoint that allows Asset to be viewed or edited.", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "address", "in": "query", "description": "address", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string"}, {"name": "category", "in": "query", "description": "category", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "platform", "required": false, "type": "string"}, {"name": "exclude_platform", "in": "query", "description": "exclude_platform", "required": false, "type": "string"}, {"name": "domain", "in": "query", "description": "domain", "required": false, "type": "string"}, {"name": "protocols", "in": "query", "description": "protocols", "required": false, "type": "string"}, {"name": "domain_enabled", "in": "query", "description": "domain_enabled", "required": false, "type": "string"}, {"name": "ping_enabled", "in": "query", "description": "ping_enabled", "required": false, "type": "string"}, {"name": "gather_facts_enabled", "in": "query", "description": "gather_facts_enabled", "required": false, "type": "string"}, {"name": "change_secret_enabled", "in": "query", "description": "change_secret_enabled", "required": false, "type": "string"}, {"name": "push_account_enabled", "in": "query", "description": "push_account_enabled", "required": false, "type": "string"}, {"name": "verify_account_enabled", "in": "query", "description": "verify_account_enabled", "required": false, "type": "string"}, {"name": "gather_accounts_enabled", "in": "query", "description": "gather_accounts_enabled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Asset"}}}}}}, "tags": ["assets_assets"], "summary": "assets_assets_match"}, "parameters": []}, "/assets/categories/": {"get": {"operationId": "assets_categories_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["assets_categories"], "summary": "assets_categories_list"}, "parameters": []}, "/assets/categories/constraints/": {"get": {"operationId": "assets_categories_constraints", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["assets_categories"], "summary": "assets_categories_constraints"}, "parameters": []}, "/assets/categories/render-to-json/": {"post": {"operationId": "assets_categories_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Category"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Category"}}}, "tags": ["assets_categories"], "summary": "assets_categories_render_to_json"}, "parameters": []}, "/assets/categories/types/": {"get": {"operationId": "assets_categories_types", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Category"}}}}}}, "tags": ["assets_categories"], "summary": "assets_categories_types"}, "parameters": []}, "/assets/clouds/suggestions/": {"get": {"operationId": "assets_clouds_match", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "address", "in": "query", "description": "address", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string"}, {"name": "category", "in": "query", "description": "category", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "platform", "required": false, "type": "string"}, {"name": "exclude_platform", "in": "query", "description": "exclude_platform", "required": false, "type": "string"}, {"name": "domain", "in": "query", "description": "domain", "required": false, "type": "string"}, {"name": "protocols", "in": "query", "description": "protocols", "required": false, "type": "string"}, {"name": "domain_enabled", "in": "query", "description": "domain_enabled", "required": false, "type": "string"}, {"name": "ping_enabled", "in": "query", "description": "ping_enabled", "required": false, "type": "string"}, {"name": "gather_facts_enabled", "in": "query", "description": "gather_facts_enabled", "required": false, "type": "string"}, {"name": "change_secret_enabled", "in": "query", "description": "change_secret_enabled", "required": false, "type": "string"}, {"name": "push_account_enabled", "in": "query", "description": "push_account_enabled", "required": false, "type": "string"}, {"name": "verify_account_enabled", "in": "query", "description": "verify_account_enabled", "required": false, "type": "string"}, {"name": "gather_accounts_enabled", "in": "query", "description": "gather_accounts_enabled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Cloud"}}}}}}, "tags": ["assets_clouds"], "summary": "assets_clouds_match"}, "parameters": []}, "/assets/customs/suggestions/": {"get": {"operationId": "assets_customs_match", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "address", "in": "query", "description": "address", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string"}, {"name": "category", "in": "query", "description": "category", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "platform", "required": false, "type": "string"}, {"name": "exclude_platform", "in": "query", "description": "exclude_platform", "required": false, "type": "string"}, {"name": "domain", "in": "query", "description": "domain", "required": false, "type": "string"}, {"name": "protocols", "in": "query", "description": "protocols", "required": false, "type": "string"}, {"name": "domain_enabled", "in": "query", "description": "domain_enabled", "required": false, "type": "string"}, {"name": "ping_enabled", "in": "query", "description": "ping_enabled", "required": false, "type": "string"}, {"name": "gather_facts_enabled", "in": "query", "description": "gather_facts_enabled", "required": false, "type": "string"}, {"name": "change_secret_enabled", "in": "query", "description": "change_secret_enabled", "required": false, "type": "string"}, {"name": "push_account_enabled", "in": "query", "description": "push_account_enabled", "required": false, "type": "string"}, {"name": "verify_account_enabled", "in": "query", "description": "verify_account_enabled", "required": false, "type": "string"}, {"name": "gather_accounts_enabled", "in": "query", "description": "gather_accounts_enabled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Custom"}}}}}}, "tags": ["assets_customs"], "summary": "assets_customs_match"}, "parameters": []}, "/assets/databases/suggestions/": {"get": {"operationId": "assets_databases_match", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "address", "in": "query", "description": "address", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string"}, {"name": "category", "in": "query", "description": "category", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "platform", "required": false, "type": "string"}, {"name": "exclude_platform", "in": "query", "description": "exclude_platform", "required": false, "type": "string"}, {"name": "domain", "in": "query", "description": "domain", "required": false, "type": "string"}, {"name": "protocols", "in": "query", "description": "protocols", "required": false, "type": "string"}, {"name": "domain_enabled", "in": "query", "description": "domain_enabled", "required": false, "type": "string"}, {"name": "ping_enabled", "in": "query", "description": "ping_enabled", "required": false, "type": "string"}, {"name": "gather_facts_enabled", "in": "query", "description": "gather_facts_enabled", "required": false, "type": "string"}, {"name": "change_secret_enabled", "in": "query", "description": "change_secret_enabled", "required": false, "type": "string"}, {"name": "push_account_enabled", "in": "query", "description": "push_account_enabled", "required": false, "type": "string"}, {"name": "verify_account_enabled", "in": "query", "description": "verify_account_enabled", "required": false, "type": "string"}, {"name": "gather_accounts_enabled", "in": "query", "description": "gather_accounts_enabled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Database"}}}}}}, "tags": ["assets_databases"], "summary": "assets_databases_match"}, "parameters": []}, "/assets/devices/suggestions/": {"get": {"operationId": "assets_devices_match", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "address", "in": "query", "description": "address", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string"}, {"name": "category", "in": "query", "description": "category", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "platform", "required": false, "type": "string"}, {"name": "exclude_platform", "in": "query", "description": "exclude_platform", "required": false, "type": "string"}, {"name": "domain", "in": "query", "description": "domain", "required": false, "type": "string"}, {"name": "protocols", "in": "query", "description": "protocols", "required": false, "type": "string"}, {"name": "domain_enabled", "in": "query", "description": "domain_enabled", "required": false, "type": "string"}, {"name": "ping_enabled", "in": "query", "description": "ping_enabled", "required": false, "type": "string"}, {"name": "gather_facts_enabled", "in": "query", "description": "gather_facts_enabled", "required": false, "type": "string"}, {"name": "change_secret_enabled", "in": "query", "description": "change_secret_enabled", "required": false, "type": "string"}, {"name": "push_account_enabled", "in": "query", "description": "push_account_enabled", "required": false, "type": "string"}, {"name": "verify_account_enabled", "in": "query", "description": "verify_account_enabled", "required": false, "type": "string"}, {"name": "gather_accounts_enabled", "in": "query", "description": "gather_accounts_enabled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Device"}}}}}}, "tags": ["assets_devices"], "summary": "assets_devices_match"}, "parameters": []}, "/assets/favorite-assets/": {"get": {"operationId": "assets_favorite-assets_list", "description": "", "parameters": [{"name": "asset", "in": "query", "description": "asset", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/FavoriteAsset"}}}}}}, "tags": ["assets_favorite-assets"], "summary": "assets_favorite-assets_list"}, "post": {"operationId": "assets_favorite-assets_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FavoriteAsset"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/FavoriteAsset"}}}, "tags": ["assets_favorite-assets"], "summary": "assets_favorite-assets_create"}, "put": {"operationId": "assets_favorite-assets_bulk_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FavoriteAsset"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FavoriteAsset"}}}, "tags": ["assets_favorite-assets"], "summary": "assets_favorite-assets_bulk_update"}, "patch": {"operationId": "assets_favorite-assets_partial_bulk_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FavoriteAsset"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FavoriteAsset"}}}, "tags": ["assets_favorite-assets"], "summary": "assets_favorite-assets_partial_bulk_update"}, "delete": {"operationId": "assets_favorite-assets_bulk_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["assets_favorite-assets"], "summary": "assets_favorite-assets_bulk_delete"}, "parameters": []}, "/assets/favorite-assets/{id}/": {"get": {"operationId": "assets_favorite-assets_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FavoriteAsset"}}}, "tags": ["assets_favorite-assets"], "summary": "assets_favorite-assets_read"}, "put": {"operationId": "assets_favorite-assets_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FavoriteAsset"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FavoriteAsset"}}}, "tags": ["assets_favorite-assets"], "summary": "assets_favorite-assets_update"}, "patch": {"operationId": "assets_favorite-assets_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/FavoriteAsset"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/FavoriteAsset"}}}, "tags": ["assets_favorite-assets"], "summary": "assets_favorite-assets_partial_update"}, "delete": {"operationId": "assets_favorite-assets_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["assets_favorite-assets"], "summary": "assets_favorite-assets_delete"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/assets/gateways/suggestions/": {"get": {"operationId": "assets_gateways_match", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "address", "in": "query", "description": "address", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string"}, {"name": "category", "in": "query", "description": "category", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "platform", "required": false, "type": "string"}, {"name": "exclude_platform", "in": "query", "description": "exclude_platform", "required": false, "type": "string"}, {"name": "domain", "in": "query", "description": "domain", "required": false, "type": "string"}, {"name": "protocols", "in": "query", "description": "protocols", "required": false, "type": "string"}, {"name": "domain_enabled", "in": "query", "description": "domain_enabled", "required": false, "type": "string"}, {"name": "ping_enabled", "in": "query", "description": "ping_enabled", "required": false, "type": "string"}, {"name": "gather_facts_enabled", "in": "query", "description": "gather_facts_enabled", "required": false, "type": "string"}, {"name": "change_secret_enabled", "in": "query", "description": "change_secret_enabled", "required": false, "type": "string"}, {"name": "push_account_enabled", "in": "query", "description": "push_account_enabled", "required": false, "type": "string"}, {"name": "verify_account_enabled", "in": "query", "description": "verify_account_enabled", "required": false, "type": "string"}, {"name": "gather_accounts_enabled", "in": "query", "description": "gather_accounts_enabled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Gateway"}}}}}}, "tags": ["assets_gateways"], "summary": "assets_gateways_match"}, "parameters": []}, "/assets/gpts/suggestions/": {"get": {"operationId": "assets_gpts_match", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "address", "in": "query", "description": "address", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string"}, {"name": "category", "in": "query", "description": "category", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "platform", "required": false, "type": "string"}, {"name": "exclude_platform", "in": "query", "description": "exclude_platform", "required": false, "type": "string"}, {"name": "domain", "in": "query", "description": "domain", "required": false, "type": "string"}, {"name": "protocols", "in": "query", "description": "protocols", "required": false, "type": "string"}, {"name": "domain_enabled", "in": "query", "description": "domain_enabled", "required": false, "type": "string"}, {"name": "ping_enabled", "in": "query", "description": "ping_enabled", "required": false, "type": "string"}, {"name": "gather_facts_enabled", "in": "query", "description": "gather_facts_enabled", "required": false, "type": "string"}, {"name": "change_secret_enabled", "in": "query", "description": "change_secret_enabled", "required": false, "type": "string"}, {"name": "push_account_enabled", "in": "query", "description": "push_account_enabled", "required": false, "type": "string"}, {"name": "verify_account_enabled", "in": "query", "description": "verify_account_enabled", "required": false, "type": "string"}, {"name": "gather_accounts_enabled", "in": "query", "description": "gather_accounts_enabled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/GPT"}}}}}}, "tags": ["assets_gpts"], "summary": "assets_gpts_match"}, "parameters": []}, "/assets/hosts/suggestions/": {"get": {"operationId": "assets_hosts_match", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "address", "in": "query", "description": "address", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string"}, {"name": "category", "in": "query", "description": "category", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "platform", "required": false, "type": "string"}, {"name": "exclude_platform", "in": "query", "description": "exclude_platform", "required": false, "type": "string"}, {"name": "domain", "in": "query", "description": "domain", "required": false, "type": "string"}, {"name": "protocols", "in": "query", "description": "protocols", "required": false, "type": "string"}, {"name": "domain_enabled", "in": "query", "description": "domain_enabled", "required": false, "type": "string"}, {"name": "ping_enabled", "in": "query", "description": "ping_enabled", "required": false, "type": "string"}, {"name": "gather_facts_enabled", "in": "query", "description": "gather_facts_enabled", "required": false, "type": "string"}, {"name": "change_secret_enabled", "in": "query", "description": "change_secret_enabled", "required": false, "type": "string"}, {"name": "push_account_enabled", "in": "query", "description": "push_account_enabled", "required": false, "type": "string"}, {"name": "verify_account_enabled", "in": "query", "description": "verify_account_enabled", "required": false, "type": "string"}, {"name": "gather_accounts_enabled", "in": "query", "description": "gather_accounts_enabled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Host"}}}}}}, "tags": ["assets_hosts"], "summary": "assets_hosts_match"}, "parameters": []}, "/assets/nodes/suggestions/": {"get": {"operationId": "assets_nodes_match", "description": "", "parameters": [{"name": "value", "in": "query", "description": "value", "required": false, "type": "string"}, {"name": "key", "in": "query", "description": "key", "required": false, "type": "string"}, {"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Node"}}}}}}, "tags": ["assets_nodes"], "summary": "assets_nodes_match"}, "parameters": []}, "/assets/platform-automation-methods/": {"get": {"operationId": "assets_platform-automation-methods_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AutomationMethods"}}}}}}, "tags": ["assets_platform-automation-methods"], "summary": "assets_platform-automation-methods_list"}, "parameters": []}, "/assets/protocols/": {"get": {"operationId": "assets_protocols_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Protocol"}}}}}}, "tags": ["assets_protocols"], "summary": "assets_protocols_list"}, "parameters": []}, "/assets/webs/suggestions/": {"get": {"operationId": "assets_webs_match", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "address", "in": "query", "description": "address", "required": false, "type": "string"}, {"name": "is_active", "in": "query", "description": "is_active", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string"}, {"name": "category", "in": "query", "description": "category", "required": false, "type": "string"}, {"name": "platform", "in": "query", "description": "platform", "required": false, "type": "string"}, {"name": "exclude_platform", "in": "query", "description": "exclude_platform", "required": false, "type": "string"}, {"name": "domain", "in": "query", "description": "domain", "required": false, "type": "string"}, {"name": "protocols", "in": "query", "description": "protocols", "required": false, "type": "string"}, {"name": "domain_enabled", "in": "query", "description": "domain_enabled", "required": false, "type": "string"}, {"name": "ping_enabled", "in": "query", "description": "ping_enabled", "required": false, "type": "string"}, {"name": "gather_facts_enabled", "in": "query", "description": "gather_facts_enabled", "required": false, "type": "string"}, {"name": "change_secret_enabled", "in": "query", "description": "change_secret_enabled", "required": false, "type": "string"}, {"name": "push_account_enabled", "in": "query", "description": "push_account_enabled", "required": false, "type": "string"}, {"name": "verify_account_enabled", "in": "query", "description": "verify_account_enabled", "required": false, "type": "string"}, {"name": "gather_accounts_enabled", "in": "query", "description": "gather_accounts_enabled", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Web"}}}}}}, "tags": ["assets_webs"], "summary": "assets_webs_match"}, "parameters": []}, "/audits/my-login-logs/": {"get": {"operationId": "audits_my-login-logs_list", "description": "", "parameters": [{"name": "id", "in": "query", "description": "id", "required": false, "type": "string"}, {"name": "username", "in": "query", "description": "username", "required": false, "type": "string"}, {"name": "ip", "in": "query", "description": "ip", "required": false, "type": "string"}, {"name": "city", "in": "query", "description": "city", "required": false, "type": "string"}, {"name": "type", "in": "query", "description": "type", "required": false, "type": "string", "enum": ["W", "T", "U"]}, {"name": "status", "in": "query", "description": "status", "required": false, "type": "string", "enum": [1, 0]}, {"name": "mfa", "in": "query", "description": "mfa", "required": false, "type": "string", "enum": [0, 1, 2]}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/UserLoginLog"}}}}}}, "tags": ["audits_my-login-logs"], "summary": "audits_my-login-logs_list"}, "parameters": []}, "/audits/my-login-logs/{id}/": {"get": {"operationId": "audits_my-login-logs_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserLoginLog"}}}, "tags": ["audits_my-login-logs"], "summary": "audits_my-login-logs_read"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/access-keys/": {"get": {"operationId": "authentication_access-keys_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AccessKey"}}}}}}, "tags": ["authentication_access-keys"], "summary": "authentication_access-keys_list"}, "post": {"operationId": "authentication_access-keys_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccessKey"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AccessKey"}}}, "tags": ["authentication_access-keys"], "summary": "authentication_access-keys_create"}, "parameters": []}, "/authentication/access-keys/render-to-json/": {"post": {"operationId": "authentication_access-keys_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccessKey"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AccessKey"}}}, "tags": ["authentication_access-keys"], "summary": "authentication_access-keys_render_to_json"}, "parameters": []}, "/authentication/access-keys/{id}/": {"get": {"operationId": "authentication_access-keys_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccessKey"}}}, "tags": ["authentication_access-keys"], "summary": "authentication_access-keys_read"}, "put": {"operationId": "authentication_access-keys_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccessKey"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccessKey"}}}, "tags": ["authentication_access-keys"], "summary": "authentication_access-keys_update"}, "patch": {"operationId": "authentication_access-keys_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AccessKey"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AccessKey"}}}, "tags": ["authentication_access-keys"], "summary": "authentication_access-keys_partial_update"}, "delete": {"operationId": "authentication_access-keys_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["authentication_access-keys"], "summary": "authentication_access-keys_delete"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/auth/": {"post": {"operationId": "authentication_auth_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BearerToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BearerToken"}}}, "tags": ["authentication_auth"], "summary": "authentication_auth_create"}, "parameters": []}, "/authentication/confirm/": {"get": {"operationId": "authentication_confirm_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Confirm"}}}}}}, "tags": ["authentication_confirm"], "summary": "authentication_confirm_list"}, "post": {"operationId": "authentication_confirm_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Confirm"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Confirm"}}}, "tags": ["authentication_confirm"], "summary": "authentication_confirm_create"}, "parameters": []}, "/authentication/confirm/check/": {"get": {"operationId": "authentication_confirm_check", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Confirm"}}}}}}, "tags": ["authentication_confirm"], "summary": "authentication_confirm_check"}, "parameters": []}, "/authentication/confirm/render-to-json/": {"post": {"operationId": "authentication_confirm_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Confirm"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Confirm"}}}, "tags": ["authentication_confirm"], "summary": "authentication_confirm_render_to_json"}, "parameters": []}, "/authentication/connection-token/": {"get": {"operationId": "authentication_connection-token_list", "description": "", "parameters": [{"name": "user_display", "in": "query", "description": "user_display", "required": false, "type": "string"}, {"name": "asset_display", "in": "query", "description": "asset_display", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConnectionToken"}}}}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_list"}, "post": {"operationId": "authentication_connection-token_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConnectionToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_create"}, "parameters": []}, "/authentication/connection-token/exchange/": {"post": {"operationId": "authentication_connection-token_exchange", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConnectionToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_exchange"}, "parameters": []}, "/authentication/connection-token/render-to-json/": {"post": {"operationId": "authentication_connection-token_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConnectionToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_render_to_json"}, "parameters": []}, "/authentication/connection-token/{id}/": {"get": {"operationId": "authentication_connection-token_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_read"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/connection-token/{id}/client-url/": {"get": {"operationId": "authentication_connection-token_client-url_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_client-url_read"}, "post": {"operationId": "authentication_connection-token_client-url_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConnectionToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_client-url_create"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/connection-token/{id}/expire/": {"patch": {"operationId": "authentication_connection-token_expire", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConnectionToken"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_expire"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/connection-token/{id}/rdp-file/": {"get": {"operationId": "authentication_connection-token_rdp-file_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_rdp-file_read"}, "post": {"operationId": "authentication_connection-token_rdp-file_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConnectionToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_rdp-file_create"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/connection-token/{id}/reuse/": {"patch": {"operationId": "authentication_connection-token_reuse", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ConnectionToken"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ConnectionToken"}}}, "tags": ["authentication_connection-token"], "summary": "authentication_connection-token_reuse"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/feishu/event/subscription/callback/": {"post": {"operationId": "authentication_feishu_event_subscription_callback_create", "description": "# https://open.feishu.cn/document/ukTMukTMukTM/uUTNz4SN1MjL1UzM", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["authentication_feishu"], "summary": "authentication_feishu_event_subscription_callback_create"}, "parameters": []}, "/authentication/lark/event/subscription/callback/": {"post": {"operationId": "authentication_lark_event_subscription_callback_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["authentication_lark"], "summary": "authentication_lark_event_subscription_callback_create"}, "parameters": []}, "/authentication/login-confirm-ticket/status/": {"get": {"operationId": "authentication_login-confirm-ticket_status_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["authentication_login-confirm-ticket"], "summary": "authentication_login-confirm-ticket_status_list"}, "delete": {"operationId": "authentication_login-confirm-ticket_status_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["authentication_login-confirm-ticket"], "summary": "authentication_login-confirm-ticket_status_delete"}, "parameters": []}, "/authentication/mfa/challenge/": {"post": {"operationId": "authentication_mfa_challenge_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MFAChallenge"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/MFAChallenge"}}}, "tags": ["authentication_mfa"], "summary": "authentication_mfa_challenge_create"}, "parameters": []}, "/authentication/mfa/select/": {"post": {"operationId": "authentication_mfa_select_create", "description": "选择 MFA 后对应操作 api，koko 目前在用", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MFASelectType"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/MFASelectType"}}}, "tags": ["authentication_mfa"], "summary": "authentication_mfa_select_create"}, "parameters": []}, "/authentication/mfa/send-code/": {"post": {"operationId": "authentication_mfa_send-code_create", "description": "选择 MFA 后对应操作 api，koko 目前在用", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MFASelectType"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/MFASelectType"}}}, "tags": ["authentication_mfa"], "summary": "authentication_mfa_send-code_create"}, "parameters": []}, "/authentication/mfa/verify/": {"post": {"operationId": "authentication_mfa_verify_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MFAChallenge"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/MFAChallenge"}}}, "tags": ["authentication_mfa"], "summary": "authentication_mfa_verify_create"}, "parameters": []}, "/authentication/passkeys/": {"get": {"operationId": "authentication_passkeys_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Passkey"}}}}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_list"}, "post": {"operationId": "authentication_passkeys_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Passkey"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Passkey"}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_create"}, "parameters": []}, "/authentication/passkeys/auth/": {"get": {"operationId": "authentication_passkeys_auth_read", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Passkey"}}}}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_auth_read"}, "post": {"operationId": "authentication_passkeys_auth_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Passkey"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Passkey"}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_auth_create"}, "parameters": []}, "/authentication/passkeys/login/": {"get": {"operationId": "authentication_passkeys_login", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Passkey"}}}}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_login"}, "parameters": []}, "/authentication/passkeys/register/": {"get": {"operationId": "authentication_passkeys_register_read", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Passkey"}}}}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_register_read"}, "post": {"operationId": "authentication_passkeys_register_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Passkey"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Passkey"}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_register_create"}, "parameters": []}, "/authentication/passkeys/render-to-json/": {"post": {"operationId": "authentication_passkeys_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Passkey"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Passkey"}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_render_to_json"}, "parameters": []}, "/authentication/passkeys/{id}/": {"get": {"operationId": "authentication_passkeys_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Passkey"}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_read"}, "put": {"operationId": "authentication_passkeys_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Passkey"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Passkey"}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_update"}, "patch": {"operationId": "authentication_passkeys_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Passkey"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Passkey"}}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_partial_update"}, "delete": {"operationId": "authentication_passkeys_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["authentication_passkeys"], "summary": "authentication_passkeys_delete"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/password/reset-code/": {"post": {"operationId": "authentication_password_reset-code_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResetPasswordCode"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResetPasswordCode"}}}, "tags": ["authentication_password"], "summary": "authentication_password_reset-code_create"}, "parameters": []}, "/authentication/password/verify/": {"post": {"operationId": "authentication_password_verify_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PasswordVerify"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PasswordVerify"}}}, "tags": ["authentication_password"], "summary": "authentication_password_verify_create"}, "parameters": []}, "/authentication/sso/login/": {"get": {"operationId": "authentication_sso_login", "description": "此接口违反了 `Restful` 的规范\n`GET` 应该是安全的方法，但此接口是不安全的", "parameters": [{"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": ""}}, "tags": ["authentication_sso"], "summary": "authentication_sso_login"}, "parameters": []}, "/authentication/super-connection-token/": {"get": {"operationId": "authentication_super-connection-token_list", "description": "", "parameters": [{"name": "user_display", "in": "query", "description": "user_display", "required": false, "type": "string"}, {"name": "asset_display", "in": "query", "description": "asset_display", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SuperConnectionToken"}}}}}}, "tags": ["authentication_super-connection-token"], "summary": "authentication_super-connection-token_list"}, "parameters": []}, "/authentication/super-connection-token/render-to-json/": {"post": {"operationId": "authentication_super-connection-token_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SuperConnectionToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SuperConnectionToken"}}}, "tags": ["authentication_super-connection-token"], "summary": "authentication_super-connection-token_render_to_json"}, "parameters": []}, "/authentication/super-connection-token/{id}/": {"get": {"operationId": "authentication_super-connection-token_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SuperConnectionToken"}}}, "tags": ["authentication_super-connection-token"], "summary": "authentication_super-connection-token_read"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/temp-tokens/": {"get": {"operationId": "authentication_temp-tokens_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/TempToken"}}}}}}, "tags": ["authentication_temp-tokens"], "summary": "authentication_temp-tokens_list"}, "post": {"operationId": "authentication_temp-tokens_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TempToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TempToken"}}}, "tags": ["authentication_temp-tokens"], "summary": "authentication_temp-tokens_create"}, "parameters": []}, "/authentication/temp-tokens/render-to-json/": {"post": {"operationId": "authentication_temp-tokens_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TempToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TempToken"}}}, "tags": ["authentication_temp-tokens"], "summary": "authentication_temp-tokens_render_to_json"}, "parameters": []}, "/authentication/temp-tokens/{id}/": {"get": {"operationId": "authentication_temp-tokens_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TempToken"}}}, "tags": ["authentication_temp-tokens"], "summary": "authentication_temp-tokens_read"}, "patch": {"operationId": "authentication_temp-tokens_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TempToken"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TempToken"}}}, "tags": ["authentication_temp-tokens"], "summary": "authentication_temp-tokens_partial_update"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/temp-tokens/{id}/expire/": {"patch": {"operationId": "authentication_temp-tokens_expire", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TempToken"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/TempToken"}}}, "tags": ["authentication_temp-tokens"], "summary": "authentication_temp-tokens_expire"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/authentication/tokens/": {"post": {"operationId": "authentication_tokens_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/BearerToken"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/BearerToken"}}}, "tags": ["authentication_tokens"], "summary": "authentication_tokens_create"}, "parameters": []}, "/authentication/user-session/": {"get": {"operationId": "authentication_user-session_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["authentication_user-session"], "summary": "authentication_user-session_read"}, "delete": {"operationId": "authentication_user-session_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["authentication_user-session"], "summary": "authentication_user-session_delete"}, "parameters": []}, "/common/resources/cache/": {"post": {"operationId": "common_resources_cache_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["common_resources"], "summary": "common_resources_cache_create"}, "parameters": []}, "/notifications/backends/": {"get": {"operationId": "notifications_backends_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["notifications_backends"], "summary": "notifications_backends_list"}, "parameters": []}, "/notifications/site-messages/": {"get": {"operationId": "notifications_site-messages_list", "description": "", "parameters": [{"name": "has_read", "in": "query", "description": "has_read", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SiteMessage"}}}}}}, "tags": ["notifications_site-messages"], "summary": "notifications_site-messages_list"}, "parameters": []}, "/notifications/site-messages/mark-as-read-all/": {"patch": {"operationId": "notifications_site-messages_mark_as_read_all", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SiteMessage"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SiteMessage"}}}, "tags": ["notifications_site-messages"], "summary": "notifications_site-messages_mark_as_read_all"}, "parameters": []}, "/notifications/site-messages/mark-as-read/": {"patch": {"operationId": "notifications_site-messages_mark_as_read", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SiteMessage"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SiteMessage"}}}, "tags": ["notifications_site-messages"], "summary": "notifications_site-messages_mark_as_read"}, "parameters": []}, "/notifications/site-messages/render-to-json/": {"post": {"operationId": "notifications_site-messages_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SiteMessage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SiteMessage"}}}, "tags": ["notifications_site-messages"], "summary": "notifications_site-messages_render_to_json"}, "parameters": []}, "/notifications/site-messages/send/": {"post": {"operationId": "notifications_site-messages_send", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SiteMessage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SiteMessage"}}}, "tags": ["notifications_site-messages"], "summary": "notifications_site-messages_send"}, "parameters": []}, "/notifications/site-messages/unread-total/": {"get": {"operationId": "notifications_site-messages_unread_total", "description": "", "parameters": [{"name": "has_read", "in": "query", "description": "has_read", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/SiteMessage"}}}}}}, "tags": ["notifications_site-messages"], "summary": "notifications_site-messages_unread_total"}, "parameters": []}, "/notifications/site-messages/{id}/": {"get": {"operationId": "notifications_site-messages_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SiteMessage"}}}, "tags": ["notifications_site-messages"], "summary": "notifications_site-messages_read"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/notifications/user-msg-subscription/": {"get": {"operationId": "notifications_user-msg-subscription_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/UserMsgSubscription"}}}}}}, "tags": ["notifications_user-msg-subscription"], "summary": "notifications_user-msg-subscription_list"}, "parameters": []}, "/notifications/user-msg-subscription/render-to-json/": {"post": {"operationId": "notifications_user-msg-subscription_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserMsgSubscription"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserMsgSubscription"}}}, "tags": ["notifications_user-msg-subscription"], "summary": "notifications_user-msg-subscription_render_to_json"}, "parameters": []}, "/notifications/user-msg-subscription/{user_id}/": {"get": {"operationId": "notifications_user-msg-subscription_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserMsgSubscription"}}}, "tags": ["notifications_user-msg-subscription"], "summary": "notifications_user-msg-subscription_read"}, "put": {"operationId": "notifications_user-msg-subscription_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserMsgSubscription"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserMsgSubscription"}}}, "tags": ["notifications_user-msg-subscription"], "summary": "notifications_user-msg-subscription_update"}, "patch": {"operationId": "notifications_user-msg-subscription_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserMsgSubscription"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserMsgSubscription"}}}, "tags": ["notifications_user-msg-subscription"], "summary": "notifications_user-msg-subscription_partial_update"}, "parameters": [{"name": "user_id", "in": "path", "required": true, "type": "string"}]}, "/ops/adhocs/": {"get": {"operationId": "ops_adhocs_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/AdHoc"}}}}}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_list"}, "post": {"operationId": "ops_adhocs_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdHoc"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdHoc"}}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_create"}, "put": {"operationId": "ops_adhocs_bulk_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdHoc"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdHoc"}}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_bulk_update"}, "patch": {"operationId": "ops_adhocs_partial_bulk_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdHoc"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdHoc"}}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_partial_bulk_update"}, "delete": {"operationId": "ops_adhocs_bulk_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_bulk_delete"}, "parameters": []}, "/ops/adhocs/render-to-json/": {"post": {"operationId": "ops_adhocs_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdHoc"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdHoc"}}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_render_to_json"}, "parameters": []}, "/ops/adhocs/{id}/": {"get": {"operationId": "ops_adhocs_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdHoc"}}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_read"}, "put": {"operationId": "ops_adhocs_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdHoc"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdHoc"}}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_update"}, "patch": {"operationId": "ops_adhocs_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdHoc"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdHoc"}}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_partial_update"}, "delete": {"operationId": "ops_adhocs_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["ops_adhocs"], "summary": "ops_adhocs_delete"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/ops/ansible/job-execution/{id}/log/": {"get": {"operationId": "ops_ansible_job-execution_log_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Output"}}}, "tags": ["ops_ansible"], "summary": "ops_ansible_job-execution_log_read"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/ops/celery/task/{name}/task-execution/{id}/log/": {"get": {"operationId": "ops_celery_task_task-execution_log_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Output"}}}, "tags": ["ops_celery"], "summary": "ops_celery_task_task-execution_log_read"}, "parameters": [{"name": "name", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/ops/celery/task/{name}/task-execution/{id}/result/": {"get": {"operationId": "ops_celery_task_task-execution_result_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CeleryResult"}}}, "tags": ["ops_celery"], "summary": "ops_celery_task_task-execution_result_read"}, "parameters": [{"name": "name", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "required": true, "type": "string"}]}, "/ops/job-execution/task-detail/{task_id}/": {"get": {"operationId": "ops_job-execution_task-detail_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["ops_job-execution"], "summary": "ops_job-execution_task-detail_read"}, "parameters": [{"name": "task_id", "in": "path", "required": true, "type": "string"}]}, "/ops/job-executions/": {"get": {"operationId": "ops_job-executions_list", "description": "", "parameters": [{"name": "status", "in": "query", "description": "status", "required": false, "type": "string"}, {"name": "job_id", "in": "query", "description": "job_id", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/JobExecution"}}}}}}, "tags": ["ops_job-executions"], "summary": "ops_job-executions_list"}, "post": {"operationId": "ops_job-executions_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobExecution"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/JobExecution"}}}, "tags": ["ops_job-executions"], "summary": "ops_job-executions_create"}, "parameters": []}, "/ops/job-executions/render-to-json/": {"post": {"operationId": "ops_job-executions_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobExecution"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/JobExecution"}}}, "tags": ["ops_job-executions"], "summary": "ops_job-executions_render_to_json"}, "parameters": []}, "/ops/job-executions/stop/": {"post": {"operationId": "ops_job-executions_stop", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobTaskStopSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/JobTaskStopSerializer"}}}, "tags": ["ops_job-executions"], "summary": "ops_job-executions_stop"}, "parameters": []}, "/ops/job-executions/{id}/": {"get": {"operationId": "ops_job-executions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/JobExecution"}}}, "tags": ["ops_job-executions"], "summary": "ops_job-executions_read"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/ops/jobs/upload/": {"post": {"operationId": "ops_jobs_upload", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/JobFileSerializer"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/JobFileSerializer"}}}, "tags": ["ops_jobs"], "summary": "ops_jobs_upload"}, "parameters": []}, "/ops/playbook/{id}/file/": {"get": {"operationId": "ops_playbook_file_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["ops_playbook"], "summary": "ops_playbook_file_list"}, "post": {"operationId": "ops_playbook_file_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["ops_playbook"], "summary": "ops_playbook_file_create"}, "patch": {"operationId": "ops_playbook_file_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["ops_playbook"], "summary": "ops_playbook_file_partial_update"}, "delete": {"operationId": "ops_playbook_file_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["ops_playbook"], "summary": "ops_playbook_file_delete"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/ops/playbooks/": {"get": {"operationId": "ops_playbooks_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/Playbook"}}}}}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_list"}, "post": {"operationId": "ops_playbooks_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Playbook"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Playbook"}}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_create"}, "put": {"operationId": "ops_playbooks_bulk_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Playbook"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Playbook"}}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_bulk_update"}, "patch": {"operationId": "ops_playbooks_partial_bulk_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Playbook"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Playbook"}}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_partial_bulk_update"}, "delete": {"operationId": "ops_playbooks_bulk_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_bulk_delete"}, "parameters": []}, "/ops/playbooks/render-to-json/": {"post": {"operationId": "ops_playbooks_render_to_json", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Playbook"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Playbook"}}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_render_to_json"}, "parameters": []}, "/ops/playbooks/{id}/": {"get": {"operationId": "ops_playbooks_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Playbook"}}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_read"}, "put": {"operationId": "ops_playbooks_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Playbook"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Playbook"}}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_update"}, "patch": {"operationId": "ops_playbooks_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Playbook"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Playbook"}}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_partial_update"}, "delete": {"operationId": "ops_playbooks_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["ops_playbooks"], "summary": "ops_playbooks_delete"}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/ops/task-executions/": {"get": {"operationId": "ops_task-executions_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CeleryTaskExecution"}}}}}}, "tags": ["ops_task-executions"], "summary": "ops_task-executions_list"}, "parameters": []}, "/ops/task-executions/{id}/": {"get": {"operationId": "ops_task-executions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CeleryTaskExecution"}}}, "tags": ["ops_task-executions"], "summary": "ops_task-executions_read"}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Celery 任务执行.", "required": true, "type": "string", "format": "uuid"}]}, "/ops/username-hints/": {"post": {"operationId": "ops_username-hints_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["ops_username-hints"], "summary": "ops_username-hints_create"}, "parameters": []}, "/ops/variables/help/": {"get": {"operationId": "ops_variables_help_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["ops_variables"], "summary": "ops_variables_help_list"}, "parameters": []}, "/orgs/orgs/current/": {"get": {"operationId": "orgs_orgs_current_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CurrentOrg"}}}, "tags": ["orgs_orgs"], "summary": "orgs_orgs_current_read"}, "parameters": []}, "/prometheus/metrics/": {"get": {"operationId": "prometheus_metrics_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["prometheus_metrics"], "summary": "prometheus_metrics_list"}, "parameters": []}, "/settings/chatai-prompts/": {"get": {"operationId": "settings_chatai-prompts_list", "description": "", "parameters": [{"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ChatPrompt"}}}}}}, "tags": ["settings_chatai-prompts"], "summary": "settings_chatai-prompts_list"}, "parameters": []}, "/settings/chatai-prompts/{id}/": {"get": {"operationId": "settings_chatai-prompts_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ChatPrompt"}}}, "tags": ["settings_chatai-prompts"], "summary": "settings_chatai-prompts_read"}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this 聊天提示.", "required": true, "type": "string", "format": "uuid"}]}, "/settings/logo/": {"get": {"operationId": "settings_logo_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["settings_logo"], "summary": "settings_logo_list"}, "parameters": []}, "/settings/public/": {"get": {"operationId": "settings_public_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PrivateSetting"}}}, "tags": ["settings_public"], "summary": "settings_public_read"}, "parameters": []}, "/settings/public/open/": {"get": {"operationId": "settings_public_open_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PublicSetting"}}}, "tags": ["settings_public"], "summary": "settings_public_open_read"}, "parameters": []}, "/settings/server-info/": {"get": {"operationId": "settings_server-info_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ServerInfo"}}}, "tags": ["settings_server-info"], "summary": "settings_server-info_read"}, "parameters": []}, "/terminal/components/connect-methods/": {"get": {"operationId": "terminal_components_connect-methods_list", "description": "", "parameters": [{"name": "search", "in": "query", "description": "A search term.", "required": false, "type": "string"}, {"name": "order", "in": "query", "description": "Which field to use when ordering the results.", "required": false, "type": "string"}, {"name": "limit", "in": "query", "description": "Number of results to return per page.", "required": false, "type": "integer"}, {"name": "offset", "in": "query", "description": "The initial index from which to return the results.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/ConnectMethod"}}}}}}, "tags": ["terminal_components"], "summary": "terminal_components_connect-methods_list"}, "parameters": []}, "/terminal/endpoints/smart/": {"get": {"operationId": "terminal_endpoints_smart", "description": "", "parameters": [{"name": "name", "in": "query", "description": "name", "required": false, "type": "string"}, {"name": "host", "in": "query", "description": "host",
[...]
